// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-list li {
  display: inline-block;
}

.page-number {
  border: 1px solid blue;
  padding-right: 5px;
  padding-left: 5px;
}
